@import './base.css';
.bannerfem {
    display: flex;
    justify-content: space-around;
    height: 30vh;
    width: 90vw;
}

div.gallery {
    margin: 100px;
    margin-top: 20px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    font-family: 'Anton', sans-serif;
    padding: 15px;
    text-align: center;
    color: blanchedalmond;
}

h2 {
    margin: 20px;
    padding: 0px;
    text-align: center;
    color: blanchedalmond;
}
