@import './base.css';

caption{
color: rgb(255, 255, 255);
background-color: rgb(55, 2, 2);   
}

table{
    font-family: cursive;
    border: 3px transparent;
    height: 30vh;
    width: 100vh;
    text-align: center;
    margin: 250px;
    margin-top: 10px;
    background-color: rgb(112, 2, 2);
}

tbody{
    background-color: rgb(255, 181, 205);
}
thead{background-color: rgb(246, 233, 130);}
tfoot{background-color: rgb(246, 233, 130);}

